@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu',sans-serif;
}
nav ul{
    display:flex;
    align-items :center;
    list-style: none;
    height: 34px;
    background-color:black;
    color:white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    height: 30px;
}
.brand{
    align-items: center;
    display:flex;
    font-size: 1.3rem;
    font-weight:bolder;
}
.container{
    min-height: 70vh;
    background-color:black;
    color:black;
    font-family:'ubuntu',sans-serif;
    display:flex;
    margin:23px auto;
    width:70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: 1200px 800px;
}
.songItemContainer{
    margin-top: 50px;

}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'ubuntu',sans-serif;

}
.songInfo img{ 
    opacity: 0;
    transition: opacity .4sec ease-in;
}
.bottom{
    position: sticky;
    height:100px;
    background-color:black;
    color: white;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons {
    margin-top: 15px;
}
.icons i {
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem {
    height:50px;
    display: flex;
    background-color:gray;
    width:70%;
    color:black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 23px;
}
.songItem img {
    width:63px;
    margin:0 23px;
    border-radius: 50px;
}
.timestamp{
    margin: 0 23px;
}
.itmestamp i {
    cursor: pointer;
}